head
	script.
		const ipc = require('electron').ipcRenderer
		const $ = jQuery = require('jquery');
		window.$ = window.jQuery = require('jquery')
		require('popper.js');
		require('bootstrap');
		const path = require('path')
		const { remote } = require('electron')
		const toastr = require('toastr')
		require( 'datatables.net-bs4' )()
		require('bootstrap4-toggle')
	script(src='/socket.io/socket.io.js')
	link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
	link(rel='stylesheet', href='/static/toastr/build/toastr.min.css')
	link(rel='stylesheet', href='/static/main.css')
	script(src="/static/@fortawesome/fontawesome-free/js/all.min.js")
	script(src="/static/@fortawesome/fontawesome-free/js/fontawesome.min.js")
	script(src='/static/head.js')