<html>
	<head>
		<title>hsd@loading...</title>
	</head>
	<body>
		<div id="loadtext">
			<img height="150" src="" />
		</div>
	</body>
	<style>
		#loadtext {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-55%, -60%);
			-webkit-filter: drop-shadow(4px 1px 4px rgba(255, 255, 255, 1));
			filter: drop-shadow(4px 1px 4px rgba(255, 255, 255, 1));

			z-index: 999;
		}
	</style>
	<script>
		document.querySelector('img').src =
			'https://thumbs.gfycat.com/PotableDarkAkitainu-size_restricted.gif'
	</script>
</html>
