.hovered {
    transform: scale(3);
    z-index: 999;
}

#blackout {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.shows {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

tr.selected>td {
    background-color: #dc3545 !important
}