.card:hover {
	transform: scale(1.1);
}

#blackout {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.shows {
	cursor: pointer;
	user-drag: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}
h5 {
	font-size: 1.8vw;
}
small {
	font-size: 1.5vw;
}
